body {
    margin: 16;
}

header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: top;
    margin-right: 10px;
}

nav a {
    display: block;
    color: #ff3399;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ff3399;
    color: black;
}








.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding-top: 20px;
    border-right: 5px solid #ff3399; 
}

.side-menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 21px;
    color: #ff3399;
    display: block;
    transition: 0.3s;
}


.side-menu a:hover {
    color: #ff0000;
}

.content {
    margin-left: 250px;
    padding: 25px;
}
