body {
    margin: 16;
}


.header-image {
background-image: url(“https://i.ibb.co/8xbVM48/Screenshot-2024-01-29-at-18-04-29.png”);
}

header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



nav li {
    float: top;
    margin-right: 10px;
}

nav a {
    display: block;
    color: #ff3399;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #000000;
}

nav a:hover {
    background-color: #ff3399;
    color: black;
}

.top-nav {
    position: fixed;
    top: 0;
    width: 98%;
    background-color: #000000;
    z-index: 1000;
    display: inline;
    justify-content: flex-end; /* Aligns the items to the right */
    padding-right: 20px; /* Add padding to the right for better spacing */
}


.top-nav ul {
    list-style-type: none;
    margin: 90;
    padding: 80;
    display: flex;
    justify-content: flex-end; /* Aligns the items to the right */
    padding-right: 20px; /* Add padding to the right for better spacing */
    overflow: hidden;
    background-color: #000000;
    color: #ff3399
    display: flex; /* Use flexbox for alignment */
    float: right;
}

}

   padding: 80;
    display: flex;
    justify-content: flex-end; /* Aligns the items to the right */
    padding-right: 50px; /* Add padding to the right for better spacing */
}
}

.top-nav li {
    display: inline;
}

.top-nav li {
    display: flex;
}

.top-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.top-nav a:hover {
    background-color: #ff3399;
    color: black;
}

section {
    padding: px 20px;
    margin-top: 40px; /* Adjust this value if the nav bar height changes */
}
/* styles.css */



.navbar {
   position: fixed;
    top: 0;
    margin-left: 110px;
    margin-right: 40px;
    width: 75%;
    background-color: #000000;
    z-index: 000;
    display: flex;
    justify-content: flex-end; /* Aligns the items to the right */
    padding-right: 20px; /* Add padding to the right for better spacing */
}


.navbar ul {
    list-style-type: none;
    margin: 90;
    padding: 60;
    overflow: hidden;
    background-color: #000000;
    color: #ff3399;
    display: flex; /* Use flexbox for alignment */
    float: right;
}


.navbar ul li {
    float: left;
    margin-left: 20px; /* Add margin between the links */
}


.navbar ul li a {
    display: block;
    color:  #ff3399;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color:  #ff3399;
    color: #000000;
}


.nav-toggle {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.content {
    padding-top: 90px; /* Adjust based on the height of your navbar */
}

.myHeader {
    background-color: black;
    padding: 50px;
    color: #ff3399;
    text-align: center;
    margin-top: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


.sticky + .content {
  padding-top: 102px;
}


.side-menu {
    height: 100%;
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding-top: 20px;
    border-right: 5px solid #ff3399; 
    overflow-y: auto;
    transition: width 0.3s; 

}

.side-menu a {
    padding: 25px;
    text-decoration: none;
    font-size: 21px;
    color: #ff3399;
    display: block;
    transition: 0.3s;
}


.side-menu a:hover {
    color: #000000;
    background-color: #ff3399;
}




.side-menu::-webkit-scrollbar {
    width: 8px; 
    height: 50px; 
}

.side-menu::-webkit-scrollbar-thumb {
    background-color: #ff3399; 
}

.side-menu::-webkit-scrollbar-track {
    background-color: #111;

}




}

.nav-link {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: #f1f1f1;
}


.hover-box {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: background-color 0.3s;
}

.content {
    margin-left: 190px;
    padding: 25px;
    width: 70%;
}



@media screen and (max-width: 768px) {
    .side-menu {
        width: 130px;
    }

    .content {
        margin-left: 110px;
    }
    
    .myHeader {
        margin-top: 100px;
        margin-left: 70px;
        font-size: 0.8em;
    }
    
    .side-menu::-webkit-scrollbar {
    width: 6px; 
        
    }
        
     .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000000;
    }

    .nav-menu li {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .nav-menu li a {
        padding: 10px;
        border-top: 1px solid #ff3399;
    }

    .navbar {
        justify-content: space-between;
        margin-left: 60px;
    }
}




    
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s; 
  padding: 20px;
}




.mobile-header {
    padding: 6px 8px 9px 8px;
    cursor: pointer;
    display: inline-block;
    margin: 5px 14px 5px 11px;
    border-radius: 32px;
}

.mobile-header-top {
    display: block;
    height: 50px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);


    
}
