body {
    margin: 0;
}

header {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

nav {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: inline;
     margin-right: 10px;
}

nav a {
    display: block;
    color: magenta;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ff3399;
    color: black;
}
