body {
    margin: 16;
}


.header-image {
background-image: url(“https://i.ibb.co/8xbVM48/Screenshot-2024-01-29-at-18-04-29.png”);
}

header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



nav li {
    float: top;
    margin-right: 10px;
}

nav a {
    display: block;
    color: #ff3399;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #000000;
}

nav a:hover {
    background-color: #ff3399;
    color: black;
}





.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    z-index: 1000;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 80;
    display: flex;
    justify-content: flex-end; /* Aligns the items to the right */
    padding-right: 20px; /* Add padding to the right for better spacing */
}
}

.top-nav li {
    display: flex;
}

.top-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
.side-menu a {
    padding: 25px;
    text-decoration: none;
    font-size: 21px;
    color: #ff3399;
    display: block;
    transition: 0.3s;
}


.side-menu a:hover {
    color: #000000;
    background-color: #ff3399;
}




.side-menu::-webkit-scrollbar {
    width: 8px; 
    height: 50px; 
}

.side-menu::-webkit-scrollbar-thumb {
    background-color: #ff3399; 
}

.side-menu::-webkit-scrollbar-track {
    background-color: #111;

}




}

.nav-link {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: #f1f1f1;
}


.hover-box {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: background-color 0.3s;
}

.content {
    margin-left: 275px;
    padding: 25px;
}


@media screen and (max-width: 768px) {
    .side-menu {
        width: 150px;
    }

    .content {
        margin-left: 150px;
    }
    
    .myHeader {
        margin-left: 150px;
        font-size: 0.8em;
    }
    
    .side-menu::-webkit-scrollbar {
    width: 6px; 
        
    }
}



    
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s; 
  padding: 20px;
}




.mobile-header {
    padding: 6px 8px 9px 8px;
    cursor: pointer;
    display: inline-block;
    margin: 5px 14px 5px 11px;
    border-radius: 32px;
}

.mobile-header-top {
    display: block;
    height: 50px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
